.a {
   background: #53B0FF;
   border: 3px solid #FFFFFF;
   padding: 5px 20px;
   border-radius: 10px;
}
.b {
  color: #ffffff;
  text-align: center;
  border: #00ccff 3px;
  font-family: Courier New;
}
.c {
                 color: #FFFFFF;
                padding: 5px 20px;
                border: 2px solid  #000000;
                border-radius: 14px;
                color: #FFFFFF;
                font-family: Courier New;
                border-bottom: 2px solid #03003F;
                filter: drop-shadow(5px 5px 5px #201645);
                font-size: 20px;
}
.d {
                 color: #FFFFFF;
                 background-color: #323232;
                padding: 5px 20px;
                border: 2px solid  #000000;
                border-radius: 14px;
                color: #FFFFFF;
                font-family: Courier New;
                border-bottom: 2px solid #0E006w1;
                filter: drop-shadow(5px 5px 5px #201645);
}
.b {
                color: #FFFFFF;
                font-family: Courier New;
                text-align: center;
                font-weight: bold;
                border-color: #000000;
                border-width: .10em;
                border-bottom: 2px solid #000000;
                filter: drop-shadow(15px 5px 4px #201645);
}
.e {
    border-color: #FFFFFF;
                 border-width: auto;
                 text-align: center;
                 border-radius: 15px;
                 border-style: solid;
                 padding: 2px;
                 border: 3px solid background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%)
}
.f {
   background: #000039;
}
.g {
    color: #FFFFFF;
    padding: 5px 20px;
                border: 2px solid  #BBC5FF;
                text-align: center;
                border-radius: 14px;
                color: #FFFFFF;
                font-family: Courier New;
                border-bottom: 2px solid #FF002D;
                filter: drop-shadow(2px 2px 10px #FF002B);
}
.h {
    text-align: center;
    font-size: 25px;
}
.i {
                 color: #FFFFFF;
                padding: 5px 20px;
                border-radius: 14px;
                color: #FFFFFF;
                font-family: Courier New;
                filter: drop-shadow(5px 5px 5px #201645);
                font-size: 20px;
}
            .j {
                background-color: transparent;
                background-image: ;
                font-family: Courier New;
                text-align: center;
                font-weight: bold;
                border-color: #000000;
                border: 2px solid  #F6FFEE;
                filter: drop-shadow(15px 5px 4px #201645);
                width: 60px;
                height: 30px;
                align-items: center;
                border-radius: 15px;
            }
            a {
  background-color: transparent;
  color: #0032FF;
  padding: 1px 1px;
  text-decoration: none;
  text-transform: none;
  font-size: 18px;
  border-bottom: 1px solid #FFFFFF;
  font-family: Courier New;
}
.k {
  background-color: transparent;
  color: white;
  padding: 1px 1px;
  text-decoration: none;
  text-transform: none;
  font-size: 18px;
}
.l {
    color: #FFFFFF;
                padding: 5px 20px;
                border: 2px solid  #000000;
                border-radius: 14px;
                color: #FFFFFF;
                font-family: Courier New;
                border-bottom: 2px solid #03003F;
                filter: drop-shadow(5px 5px 5px #201645);
}
.n {
        color: #FFFFFF;
    padding: 5px 20px;
                text-align: center;
                border-radius: 4px;
                color: #FFFFFF;
                font-family: Courier New;
                border-bottom: 2px solid #FF002D;
                filter: drop-shadow(2px 2px 10px #FF002B);
}
.m {
    background-color: #005156;
}
.x {
    color: #FFFFFF;
                padding: 5px 20px;
                border: 2px solid  #F5FFEA;
                border-radius: 14px;
                color: #FFFFFF;
                font-family: Courier New;
                border-bottom: 2px solid #03003F;
                filter: drop-shadow(5px 5px 5px #201645);
                font-size: 24px;
}
